<link
  rel="stylesheet"
  href="https://unpkg.com/@waline/client@v2/dist/waline.css"
/>

<div id="waline"></div>

<script type="module">
  import { init } from "https://unpkg.com/@waline/client@v2/dist/waline.mjs";

  init({
    el: "#waline",
    // 确保这里已经改成了您自己的 Waline 服务地址！
    serverURL: "https://my-blog-comment-ten.vercel.app/",
    lang: "zh-CN",
    locale: { placeholder: "欢迎留下你的足迹~" },
    wordLimit: 500,
    search: false,
    pageview: true,
    emoji: [
      "//unpkg.com/@waline/emojis@1.2.0/bmoji",
      "//unpkg.com/@waline/emojis@1.2.0/tieba",
    ],
    dark: 'html[class="scroll-smooth dark"]',
  });
</script>

<style>
  /* 日间模式 */
  :root {
    /* 字体大小 */
    --waline-font-size: 16px;
    /* ...省略其他样式... */
  }
  /* 暗黑模式 */
  /* html[class="scroll-smooth dark"] { */
    /* ...省略其他样式... */
  }
</style>
